*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #82AAE3;
    --secondary-text-color: #91D8E4;
    --accent-color: #BFEAF5;
    --accent-color-dark: #36b3ac;
    --padding-inline-section: 20px
}

body{
    font-family: 'Maven Pro', sans-serif;
    color: var(--primary-text-color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

/*utility classes*/

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding: var(--padding-inline-section);
}

.flex{
    display: flex;
    align-items: center;
}

.hover-link{
    color: var(--primary-text-color);
    transition-property: 0.2s ease-out;
}

.hover-link:hover{
    color: var(--accent-color);
}


.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}

.top-banner{
    background-color: black;
}


.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}

.portfolio-logo img{
    width: 200px;
}


.nav-links ul{
     justify-content: end;
     gap: 50px;
}

.nav-links{
flex-basis: 730px;
}